<section id="history-items">
{{#each histories as |history| }}
<div class="row mb-4 category">
  <div class="col-md-5">
    <h2>
      <a href="/api/history/{{history.technique_id}}">{{history.createdAt}}</a>
    </h2>
    <h3>{{history.technique.technique_name}}</h3>
    <h4>{{history.comment}}</h4>
    <h4>{{history.id}}</h4>
    <button class="delete-btn" data-history-id={{history.id}}>Remove</button>
  </div>
</div>
{{/each}}
<script src="/js/delComment.js"></script>
</section>